@white:#fff;
@beginner:#005A4F;
@none:#2A327F;
@intermediate:#2A327F;
@advanced:#79292E;
@yellow:#F1C319;
@black:#000;
@grey:#ddd;

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'), url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'), url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.float-right {
    float: right;
}
.yellow-bg{
  background-color:#F1C319;
}
.pink-bg{
  background-color:#5B0053;
}
.beginner{
    background-color:#005A4F;
}
.none{
    background-color:#2A327F;
    color: transparent !important;
}
.intermediate{
    background-color:#2A327F;
}
.advanced{
    background-color:#79292E;
}

.session-tags {
    list-style: none;
    margin-left: 0;
    margin-bottom:0px;
      li {
          display: inline-block;
          margin-right:9px;
          color:@white;
          padding:11px;
          font-family: 'Roboto';
          font-weight: Bold;
          font-size: 14px;
          line-height: 16px;
          text-transform:uppercase;
      }
}

.session-date{
  background-color:@intermediate;
  margin-top: 10px;
  h2{
    margin:0px;
    padding:13px 0;
    line-height: 42px;
    color:@white;
    font-weight:900 !important;
    text-align: center;
    font-family: 'Roboto';
    position:relative;
    img{
            max-height: 44px;
            position:absolute;
            top: 50%;
            transform: translate(0%,-50%);
      -webkit-transform: translate(0%,-50%);
      transition:0.3s all;
      -webkit-transition:0.3s all;
            &.hover-img{
              opacity:0;
              transition:0.3s all;
      -webkit-transition:0.3s all;
            }
    }
    a{
      color:@white;
      transition:0.3s all;
      -webkit-transition:0.3s all;
      position: relative;
      display:inline-block;
      &:hover {
          color: #f1c319;
          transition:0.3s all;
      -webkit-transition:0.3s all;
      img{
        opacity:0;
        transition:0.3s all;
      -webkit-transition:0.3s all;
          &.hover-img{
            opacity:1;
            transition:0.3s all;
      -webkit-transition:0.3s all;
          }  
        }
      }
    }
    .next-date{
      position:absolute;
      right:0;
      a{
        padding-right: 40px;
        @media(max-width:900px){
          padding-right: 30px;
        }
        img{
          right:0px;
        }
      }
    }
    .prev-date{
      position:absolute;
      left:0;
      a{
        padding-left: 40px;
        @media(max-width:900px){
          padding-left: 30px;
        }
      }
      img{
        left:0;
        transform:rotate(180deg) translate(0%,50%);
        -webkit-transform:rotate(180deg) translate(0%,50%);
      }
    }
    text{
      font-weight:400;
      font-size: 2.2rem;
    }
    span{
      font-weight:400;
      font-size: 2.2rem;
    }
  }
}

.session-time{
    margin-top:10px;
    table {
      background: transparent;
      margin-bottom: 0;
      border: 0;
      thead{
        background: transparent;
        border: 0;
        tr{
          th{
            border:0px;
            font-size:14px;
            padding:8px 18px;
            font-weight:500;
            color:@white;
            text-align:center;
            @media(max-width:767px){
              text-align:left;
            }
            h3{
              font-size:26px;
              line-height:30px;
              margin:0;
              font-weight:bold !important;
              color:@white;
              font-family: 'Roboto';
              tex-align:left;
            }
          }
        }
      }
    }
  }

.single-timeslot{
  .session-table{
      position:relative;
      border:0px;
      display:flex;
      .table-scroll{overflow-x: auto;}
        .timeslot-title {
          width: 190px;
          max-width:190px;
          flex-grow: 1;
          text-align: center;
          padding:0px;
          display: flex;
          margin-top: 64px;
           @-moz-document url-prefix() {
             margin-top: 63px;
            }
          border-top: 1px solid @intermediate;
          border-right: 1px solid @intermediate;
          h4{
            font-size: 26px;
            font-weight: bold;
            line-height: 30px;
            color:@intermediate;
            font-family: 'Roboto';
            span{
              font-size:14px;
              display:block;
              font-weight: 500;
            }
          }
          .timeslot-title-in {
              width: 190px;
              align-self: center;
          }
        }  
    table{
      border:0px;
      margin-bottom:0;
      thead{
        background:#fff;
        border: 0px;
      }
      .session-tracks{
        th{
          text-align:center;
          color:@intermediate;
          border-bottom:1px solid @intermediate;
          height: 64px;
          font-family: 'Roboto';
        }
      }
      tr{
        td{
          width:135px;
          padding:6px 3px;
          vertical-align: top;
          min-width: 135px;
          &:first-child{
            padding-left:6px;
          }
        }
      }
    }
  }
}

.session-card{
  display:inline-block;
  margin-bottom:6px;
  transition:0.3s all;
  -webkit-transition:0.3s all;
  &:hover {
      .card-info{
          background-color:#f1f1f1;
          transition:0.3s all;
          -webkit-transition:0.3s all;
      }
  }  
  &:focus{
    outline:none !important;
  }
  .card-info{
    background-color:@grey;
     transition:0.3s all;
    -webkit-transition:0.3s all;
    color:@black;
    min-height:186px;
    padding: 15px;
    h5{
      font-size:16px;
      font-weight:bold;
      line-height: 18px;
      font-family: 'Roboto';
      color:#000;
      max-height: 70px;
      overflow: hidden;
    }
    p{
      font-size:14px;
      margin-bottom:0px;
      font-style:italic;
      font-weight:400;
      font-family: 'Roboto';
      color:#000;
    }
  }
  span{
    width:100%;
    border-radius:0px;
    font-size:12px;
    padding:8px;
    color:@white;
    text-transform:uppercase;
    text-align:center;
    display: inline-block;
    font-weight:bold;
    font-family: 'Roboto';
  }
}

.card-detail-popup{
  width:1247px;
  display:none;
  h3{
    font-weight: 900 !important;
    font-size: 36px;
    color:@intermediate;
    line-height:42px;
    margin-bottom: 18px;
    font-family: 'Roboto';
    span{
      font-weight:400;
      font-size:32px;
    }
  }
  h4{
    font-size:26px;
    font-weight:bold !important;
    font-family: 'Roboto';
    line-height:30px;
    color:@intermediate;
    text-transform:uppercase;
    &.speaker{
      font-weight:400 !important;
      font-style:italic;
      margin-bottom: 18px;
    }
  }
  p{
    font-size:26px;
    line-height:30px;
    font-family: 'Roboto';
  }
  .fancybox-close-small{
    display:none !important;
  }
}
  
.purple-btn{
    background-color:@intermediate;
    border:1px solid @intermediate;
    padding:19px 25px;
    font-family: 'Roboto';
    color:@white;
    cursor:pointer;
    text-transform:uppercase;
    font-size:32px;
    border-radius: 0px;
    font-weight: 700;
    margin-bottom: 0;
}

/* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/*
::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(arrow.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(4.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(3.png);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(.png);
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #989898;
}
::-webkit-scrollbar-thumb:active {
    background: #808080;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
*/

/* Media Query */

@media(max-width:1199px){
  .session-date {
    padding: 0 20px;
  }
  .card-detail-popup {
    width: 850px;
    h3 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 12px;
    }  
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
    .purple-btn {
      padding: 8px 11px;
      font-size: 28px;
    }
  }
}
@media(max-width:900px){
  .session-date {
    padding: 0 20px;
  }
  .single-timeslot {
    .session-table {
      .timeslot-title{
        width: 200px;
        max-width:200px;
        .timeslot-title-in {
          width: 200px;
        }
      }
    }
  }
  .card-detail-popup {
    width: 700px;
  }  
  .session-date {
    h2 {
      font-size: 1.5rem;
      span{
        font-size: 1.5rem;
      }
      img{
        max-height: 30px;
        vertical-align: middle;
      }
      text{
        font-size: 1.5rem;
      }
    }
  }  
}
@media(max-width:767px){
  .card-detail-popup {
    padding:15px;
    h3 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 10px;
      span {
          font-weight: 400;
          font-size: 20px;
      }
    }
    h4 {
      font-size: 20px;
      line-height: 23px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
    .purple-btn{
      font-size: 24px;
      letter-spacing: 1px;
    }
  }

  table{
    &.mb-block{
      thead {
        tr {
          th{
            display:block;
          }
          td{
            display:block;
          }
        }
      }    
    }
  }

  .session-date {
    padding: 0 10px;
    h2 {
      padding: 6px 0;
      line-height: 30px;
      img{
        max-width:20px;
        vertical-align: text-bottom;
      }
      span {
        font-size: 0rem;
        height:30px;
      }
      text {
        font-size: 1.2rem;
      }
    }  
  }

  .session-time {
      table {
        thead {
          tr {
            th{
              padding: 6px 12px 0;
              h3 {
                font-size: 20px;
                margin-bottom:5px;
              }
            }
          }
        }
      }
    }

  .single-timeslot {
    .session-table{
      display:block;
      .timeslot-title {
        width: inherit;
        max-width:100%;
        padding:0;
        margin-top: 10px;
        border: 0px;
        h4{
          background-color:@intermediate;
          color:@white;
          padding: 10px 0;
          font-size: 22px;
          line-height: 24px;
          margin-bottom:0px
        }
        .timeslot-title-in {
          width: 100%;
        }
      }
    }
  }    

}

@media(max-width:550px){
  
  .session-tags {
    margin-left: 0;
    text-align: center;
    li {
      margin-right: 2px;
      padding:10px 8px;
    }
  }

  

    .session-time {
      table {
        thead {
          tr {
            th {
              h3 {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }        
}

.page-events-schedule{
    .page-head-desc{
       text-align:center;
       h1{
        padding: 0;
        color: #638acd;
        font-size: 48px;
        font-family: 'Roboto';
        margin: 18px 0 8px;
        font-weight: 500;
        @media(max-width:767px){
          font-size: 36px;
          margin:18px 0 18px
        }
       }
       ul{
        list-style:none;
        margin: 0 0 43px;
        li{
          display:inline-block;
          position:relative;
          padding: 0 11px 0 5px;
          a{
            text-decoration: none;
            color: #638acd;
            border-bottom:1px solid #638acd;
            font-size: 24px;
            font-weight: 500;
            position: relative;
            font-family: 'Roboto';
            transition:0.3s all;
            -webkit-transition:0.3s all;
            @media(max-width:767px){
              line-height: 32px;
              font-weight: 600;
              font-size: 22px;
            }
            &:hover{
              color:#ef9c32;
              border-color:#ef9c32;
              transition:0.3s all;
              -webkit-transition:0.3s all;
            }
          }
          &::after {
              position: absolute;
              content: '';
              width: 2px;
              height: 25px;
              background: #92C138;
              right: 0;
              bottom: 4px;
          }
          &:last-child{
            &::after{
              display:none;
            }
          }
          &.active{
            a{
              font-weight:bold;
            }
          }
        }
       }
    }
}
