@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'), url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'), url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
.float-right {
  float: right;
}
.yellow-bg {
  background-color: #F1C319;
}
.pink-bg {
  background-color: #5B0053;
}
.beginner {
  background-color: #005A4F;
}
.intermediate {
  background-color: #2A327F;
}
.advanced {
  background-color: #79292E;
}
.session-tags {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0px;
}
.session-tags li {
  display: inline-block;
  margin-right: 9px;
  color: #fff;
  padding: 11px;
  font-family: 'Roboto';
  font-weight: Bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.session-date {
  background-color: #2A327F;
  margin-top: 10px;
}
.session-date h2 {
  margin: 0px;
  padding: 13px 0;
  line-height: 42px;
  color: #fff;
  font-weight: 900 !important;
  text-align: center;
  font-family: 'Roboto';
  position: relative;
}
.session-date h2 img {
  max-height: 44px;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-date h2 img.hover-img {
  opacity: 0;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-date h2 a {
  color: #fff;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  position: relative;
  display: inline-block;
}
.session-date h2 a:hover {
  color: #f1c319;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-date h2 a:hover img {
  opacity: 0;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-date h2 a:hover img.hover-img {
  opacity: 1;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-date h2 .next-date {
  position: absolute;
  right: 0;
}
.session-date h2 .next-date a {
  padding-right: 40px;
}
@media (max-width: 900px) {
  .session-date h2 .next-date a {
    padding-right: 30px;
  }
}
.session-date h2 .next-date a img {
  right: 0px;
}
.session-date h2 .prev-date {
  position: absolute;
  left: 0;
}
.session-date h2 .prev-date a {
  padding-left: 40px;
}
@media (max-width: 900px) {
  .session-date h2 .prev-date a {
    padding-left: 30px;
  }
}
.session-date h2 .prev-date img {
  left: 0;
  -ms-transform: rotate(180deg) translate(0%, 50%);
  transform: rotate(180deg) translate(0%, 50%);
  -webkit-transform: rotate(180deg) translate(0%, 50%);
}
.session-date h2 text {
  font-weight: 400;
  font-size: 2.2rem;
}
.session-date h2 span {
  font-weight: 400;
  font-size: 2.2rem;
}
.session-time {
  margin-top: 10px;
}
.session-time table {
  background: transparent;
  margin-bottom: 0;
  border: 0;
}
.session-time table thead {
  background: transparent;
  border: 0;
}
.session-time table thead tr th {
  border: 0px;
  font-size: 14px;
  padding: 8px 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .session-time table thead tr th {
    text-align: left;
  }
}
.session-time table thead tr th h3 {
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  font-weight: bold !important;
  color: #fff;
  font-family: 'Roboto';
  tex-align: left;
}
.single-timeslot .session-table {
  position: relative;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-timeslot .session-table .table-scroll {
  overflow-x: auto;
}
.single-timeslot .session-table .timeslot-title {
  width: 190px;
  max-width: 190px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  border-top: 1px solid #2A327F;
  border-right: 1px solid #2A327F;
}
@-moz-document url-prefix() {
  .single-timeslot .session-table .timeslot-title {
    margin-top: 63px;
  }
}
.single-timeslot .session-table .timeslot-title h4 {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  color: #2A327F;
  font-family: 'Roboto';
}
.single-timeslot .session-table .timeslot-title h4 span {
  font-size: 14px;
  display: block;
  font-weight: 500;
}
.single-timeslot .session-table .timeslot-title .timeslot-title-in {
  width: 190px;
  -ms-flex-item-align: center;
  align-self: center;
}
.single-timeslot .session-table table {
  border: 0px;
  margin-bottom: 0;
}
.single-timeslot .session-table table thead {
  background: #fff;
  border: 0px;
}
.single-timeslot .session-table table .session-tracks th {
  text-align: center;
  color: #2A327F;
  border-bottom: 1px solid #2A327F;
  height: 64px;
  font-family: 'Roboto';
}
.single-timeslot .session-table table tr td {
  width: 135px;
  padding: 6px 3px;
  vertical-align: top;
  min-width: 135px;
}
.single-timeslot .session-table table tr td:first-child {
  padding-left: 6px;
}
.session-card {
  display: inline-block;
  margin-bottom: 6px;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-card:hover .card-info {
  background-color: #f1f1f1;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.session-card:focus {
  outline: none !important;
}
.session-card .card-info {
  background-color: #ddd;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  color: #000;
  min-height: 186px;
  padding: 15px;
}
.session-card .card-info h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  font-family: 'Roboto';
  color: #000;
  max-height: 70px;
  overflow: hidden;
}
.session-card .card-info p {
  font-size: 14px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Roboto';
  color: #000;
}
.session-card span {
  width: 100%;
  border-radius: 0px;
  font-size: 12px;
  padding: 8px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto';
}
.card-detail-popup {
  width: 1247px;
  display: none;
}
.card-detail-popup h3 {
  font-weight: 900 !important;
  font-size: 36px;
  color: #2A327F;
  line-height: 42px;
  margin-bottom: 18px;
  font-family: 'Roboto';
}
.card-detail-popup h3 span {
  font-weight: 400;
  font-size: 32px;
}
.card-detail-popup h4 {
  font-size: 26px;
  font-weight: bold !important;
  font-family: 'Roboto';
  line-height: 30px;
  color: #2A327F;
  text-transform: uppercase;
}
.card-detail-popup h4.speaker {
  font-weight: 400 !important;
  font-style: italic;
  margin-bottom: 18px;
}
.card-detail-popup p {
  font-size: 26px;
  line-height: 30px;
  font-family: 'Roboto';
}
.card-detail-popup .fancybox-close-small {
  display: none !important;
}
.purple-btn {
  background-color: #2A327F;
  border: 1px solid #2A327F;
  padding: 19px 25px;
  font-family: 'Roboto';
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 32px;
  border-radius: 0px;
  font-weight: 700;
  margin-bottom: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*
::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(arrow.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(4.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(3.png);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(.png);
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #989898;
}
::-webkit-scrollbar-thumb:active {
    background: #808080;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
*/
/* Media Query */
@media (max-width: 1199px) {
  .session-date {
    padding: 0 20px;
  }
  .card-detail-popup {
    width: 850px;
  }
  .card-detail-popup h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .card-detail-popup h4 {
    font-size: 24px;
  }
  .card-detail-popup p {
    font-size: 20px;
    line-height: 30px;
  }
  .card-detail-popup .purple-btn {
    padding: 8px 11px;
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  .session-date {
    padding: 0 20px;
  }
  .single-timeslot .session-table .timeslot-title {
    width: 200px;
    max-width: 200px;
  }
  .single-timeslot .session-table .timeslot-title .timeslot-title-in {
    width: 200px;
  }
  .card-detail-popup {
    width: 700px;
  }
  .session-date h2 {
    font-size: 1.5rem;
  }
  .session-date h2 span {
    font-size: 1.5rem;
  }
  .session-date h2 img {
    max-height: 30px;
    vertical-align: middle;
  }
  .session-date h2 text {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .card-detail-popup {
    padding: 15px;
  }
  .card-detail-popup h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .card-detail-popup h3 span {
    font-weight: 400;
    font-size: 20px;
  }
  .card-detail-popup h4 {
    font-size: 20px;
    line-height: 23px;
  }
  .card-detail-popup p {
    font-size: 18px;
    line-height: 22px;
  }
  .card-detail-popup .purple-btn {
    font-size: 24px;
    letter-spacing: 1px;
  }
  table.mb-block thead tr th {
    display: block;
  }
  table.mb-block thead tr td {
    display: block;
  }
  .session-date {
    padding: 0 10px;
  }
  .session-date h2 {
    padding: 6px 0;
    line-height: 30px;
  }
  .session-date h2 img {
    max-width: 20px;
    vertical-align: text-bottom;
  }
  .session-date h2 span {
    font-size: 0rem;
    height: 30px;
  }
  .session-date h2 text {
    font-size: 1.2rem;
  }
  .session-time table thead tr th {
    padding: 6px 12px 0;
  }
  .session-time table thead tr th h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .single-timeslot .session-table {
    display: block;
  }
  .single-timeslot .session-table .timeslot-title {
    width: inherit;
    max-width: 100%;
    padding: 0;
    margin-top: 10px;
    border: 0px;
  }
  .single-timeslot .session-table .timeslot-title h4 {
    background-color: #2A327F;
    color: #fff;
    padding: 10px 0;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px;
  }
  .single-timeslot .session-table .timeslot-title .timeslot-title-in {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .session-tags {
    margin-left: 0;
    text-align: center;
  }
  .session-tags li {
    margin-right: 2px;
    padding: 10px 8px;
  }
  .session-time table thead tr th h3 {
    font-size: 16px;
    line-height: 22px;
  }
}
.page-events-schedule .page-head-desc {
  text-align: center;
}
.page-events-schedule .page-head-desc h1 {
  padding: 0;
  color: #638acd;
  font-size: 48px;
  font-family: 'Roboto';
  margin: 18px 0 8px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .page-events-schedule .page-head-desc h1 {
    font-size: 36px;
    margin: 18px 0 18px;
  }
}
.page-events-schedule .page-head-desc ul {
  list-style: none;
  margin: 0 0 43px;
}
.page-events-schedule .page-head-desc ul li {
  display: inline-block;
  position: relative;
  padding: 0 11px 0 5px;
}
.page-events-schedule .page-head-desc ul li a {
  text-decoration: none;
  color: #638acd;
  border-bottom: 1px solid #638acd;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  font-family: 'Roboto';
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
@media (max-width: 767px) {
  .page-events-schedule .page-head-desc ul li a {
    line-height: 32px;
    font-weight: 600;
    font-size: 22px;
  }
}
.page-events-schedule .page-head-desc ul li a:hover {
  color: #ef9c32;
  border-color: #ef9c32;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.page-events-schedule .page-head-desc ul li::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 25px;
  background: #92C138;
  right: 0;
  bottom: 4px;
}
.page-events-schedule .page-head-desc ul li:last-child::after {
  display: none;
}
.page-events-schedule .page-head-desc ul li.active a {
  font-weight: bold;
}
